/* hero. background is temporarily set */
.hero {
  background-color: var(--hero-and-footer-background-color);
  text-align: center;
}
.our-team.section {
  background-color: var(--secondary-background-color);
}
/* width and margin are temporarily set */
.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: var(--item-list-gap);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* hero-button */
.hero-button {
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* our-features section headline */
.our-features-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* our-features section paragraph */
.our-features-paragraph {
  color: var(--secondary-black-color);
  font-size: 14px;
  line-height: 1.71;
}
/* our-features container */
.our-features {
  display: flex;
}
.our-features-item {
  /*   width: calc((100%-90px) / 4); */
  /*   width: 270px; */
  flex-basis: calc(100% / 3);
}
.our-features-item:not(:last-child) {
  margin-right: var(--item-list-gap);
}
/* our-team section paragraph */
.our-team-paragraph {
  text-align: center;
  margin-bottom: var(--item-list-gap);

  font-size: 16px;
  line-height: 1.19;
}
/* our-projects and our-team section heading */
.section-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.our-projects {
  display: flex;
}
.our-projects.img-responsive {
  /*   width: 370px; */
  flex-basis: calc(100% / 3);
}
.our-projects-item:not(:nth-child(3n)) {
  margin-right: var(--item-list-gap);
}
/* our-team-headline */
.our-team-headline {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.our-team {
  display: flex;
}
.our-team-item:not(:nth-child(4n)) {
  margin-right: var(--item-list-gap);
  /*   width: 270px; */
  flex-basis: calc(100% / 4);
}
.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.our-team.img-responsive {
  width: 270px;
  margin-bottom: var(--item-list-gap);
}
.our-team.section,
.our-projects.section {
  padding-bottom: 94px;
}
