
/* portfolio-nav button */
.portfolio-nav-button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--secondary-background-color);
  color: color: var(--primary-black-color);
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-nav-button.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio-heading  */
.portfolio-heading {
  color: var(--primary-black-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}
/* portfolio-paragraph */
.portfolio-paragraph {
  color: var(--secondary-black-color);
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
}
.portfolio-nav.item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-nav.list {
  margin-bottom: 50px;
}
.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1*var(--item-list-gap));
  margin-top: calc(-1*var(--item-list-gap));
}
.portfolio > .portfolio-item {
/*   width:370px; */
  flex-basis: calc(100%/3 - var(--item-list-gap));
  margin-left: var(--item-list-gap);
  margin-top: var(--item-list-gap);
}
/* .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
} */
.portfolio-item-title{
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  padding: 20px 24px;
}
/* .portfolio.img-responsive {
  width: 370px;
} */
.portfolio.section {
  padding-bottom: 94px;
}